/* ---------------------------------------  Body  ------------------------------------------ */

/* body outside of main-body container*/
body {
  background-image: linear-gradient(rgb(74, 150, 248), rgb(248, 248, 252));
  font-family:montserrat;
    height: 500px;
    background-position: center;
    background-repeat:no-repeat;
    background-size:cover;
    position:relative;
    background-attachment: fixed;
}

/* body css properties for login page only*/
.body-bg {
    /*background-image: url("Images/Bavaro-Beach.jpg");
    /*background-image: linear-gradient(rgba(74, 150, 248, 1), rgba(70, 245, 149, 1));*/
    background-image: linear-gradient(rgb(202, 223, 250), rgb(255, 255, 255));
    font-family:montserrat;
    height: 500px;
    background-position: center;
    background-repeat:no-repeat;
    background-size:cover;
    position:relative;
    background-attachment: fixed;
}

/* ---------------------------------------  Navbar  ------------------------------------------ */


#navbar-brand-name {
    font-family: 'Princess Sofia', cursive; 
    color: white;
}

#navbar1 {
    background-color: #9dfaca;
    /*background-image: linear-gradient(rgba(74, 150, 248, 1), rgba(70, 245, 149, 1));*/
}

#fixed-vertical-navbar {
    width: 20%;
    height: 100%;
    position:fixed;
    left:0cm;
    z-index:2;
    overflow-x: hidden;
    padding: 8px 0;
    border: 5px solid #9dfaca;
    background-color: white; 
}

/* ---------------------------------------  Main-body Container ------------------------------------------ */

/* main-body container where we write content */ 

/* ******** cat page ******** */
#main-body-content {
    color: #000000;
    padding: 20px;
    font-size: larger;
}

#main-body-bg {
    background-color: rgba(255,255,255,0.7);
    height: auto;
    min-height: 460px;
    border-radius: 20px;
    left: 20%;
    position: absolute;
    width: 80%;
    
}

/* ******** login page ******** */
#main-body-loginpage-bg {
    background-color: rgba(255,255,255,0.7);
    border-radius: 20px;
    background-attachment: fixed;
    margin: 0;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(69, 75, 82, 0.4)), url("Images/Bavaro-Beach.jpg");

    /* Set a specific height */
    height: 50%;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#main-body-loginpage-content {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  
  
}

/* ---------------------------------------Some Useful Tags------------------------------------------ */

/* Putting image and image-name together */
figure {
    text-align: center;
    font-weight: bolder;
    font-size: large;
    padding-top: 20px;
    color: rgb(0, 140, 255);
}

table, th, td {
  border-collapse: collapse;
  padding: 20px;
}

/* ---------------------------------------Category Image------------------------------------------ */

/* Category images */
.catg-img {
    border: 2px sodid black;
    max-height: 200px;
    max-width: 200px;
    height: auto;
    width: auto;
    border-radius: 50%;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */ 
@media screen and (max-width: 500px) {
    .catg-img {
      width: 100%;
    }
}


/* ---------------------------------------Beach Image------------------------------------------ */
  
.beach-img{
  border: 5px sodid black;
  max-height: 80%;
  height: auto;
  width: 80%;
}

/* ---------------------------------------  Stickers Used  ------------------------------------------ */

/* Wave Sticker */
#sticker1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 175px;
    max-height: 125px;
    height: auto;
    width: auto; 
    margin-top: 80%;
}

@media screen and (max-width: 500px) {
    #sticker1 {
        max-width: 49px;
        max-height: 35px;
    }
  }

/* ---------------------------------------  Flip Box  ------------------------------------------ */

/* The flip box container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-box {
    background-color: transparent;
    width: 300px;
    height: 200px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side */
  .flip-box-front {
    background-color: #bbb;
    color: black;
  }
  
  /* Style the back side */
  .flip-box-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
  }
